<div class="card card-company">

  <div class="card-header">Lista de Accesos</div>

  <div class="row align-items-center m-3">
    <div class="col-sm-12 col-md-8 col-xl-8">
      <div class="input-group" style="max-width: 280px">
        <span class="input-group-text" id="search-icon">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          id="filter-text-box"
          (input)="onFilterTextBoxChanged($event)"
        />
      </div>
    </div>
    <div
      class="col-sm-12 col-md-4 col-xl-64 text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-end"
    >
      <button
        class="btn btn-success me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0"
        (click)="exportToExcel()"
      >
        <i class="bi bi-file-earmark-excel"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">Visitante</th>
        <th scope="col">DNI</th>
        <th scope="col">Tipo</th>
        <th scope="col">Vehículo</th>
        <th scope="col">Comentario</th>
        <th scope="col">Autorizador</th>
        <th scope="col">DNI</th>
      </tr>
      </thead>
      <tbody>
        @for (item of page; track item) {
          <tr>
            <td>
              {{ item.first_name + ' ' + item.last_name }}
            </td>
            <td>
              {{ item.doc_type + ' ' + item.doc_number }}
            </td>
            <td>
              {{ item.action }}
            </td>
            <td>
              {{ item.vehicle_type + ' ' + item.vehicle_reg }}
            </td>
            <td>
              {{ item.comments }}
            </td>
            <td>
              {{ item.authorizer.name + ' ' + item.authorizer.last_name }}
            </td>
            <td>
              {{ item.authorizer.doc_type + ' ' + item.authorizer.doc_number }}
            </td>
          </tr>
        }
      </tbody>
    </table>
    <table class="table table-sm d-none" id="accesos">
      <thead>
      <tr>
        <th scope="col">Visitante</th>
        <th scope="col">DNI</th>
        <th scope="col">Tipo</th>
        <th scope="col">Vehículo</th>
        <th scope="col">Comentario</th>
        <th scope="col">Autorizador</th>
        <th scope="col">DNI</th>
      </tr>
      </thead>
      <tbody>
        @for (item of list; track item) {
          <tr>
            <td>
              {{ item.first_name + ' ' + item.last_name }}
            </td>
            <td>
              {{ item.doc_type + ' ' + item.doc_number }}
            </td>
            <td>
              {{ item.action }}
            </td>
            <td>
              {{ item.vehicle_type + ' ' + item.vehicle_reg }}
            </td>
            <td>
              {{ item.comments }}
            </td>
            <td>
              {{ item.auth_first_name + ' ' + item.auth_last_name }}
            </td>
            <td>
              {{ item.auth_doc_type + ' ' + item.auth_doc_number }}
            </td>
          </tr>
        }
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <button class="page-link font-company" (click)="changePage(false)">
            Anterior
          </button>
        </li>
        <li class="page-item" [class.disabled]="lastPage === true">
          <button class="page-link font-company" (click)="changePage(true)">
            Siguiente
          </button>
        </li>
      </ul>
    </nav>


    <!--    <div class="modal fade" id="exampleModal" tabindex="-1">-->
    <!--      <div class="modal-dialog model-dialog-centered">-->
    <!--        <div class="modal-content">-->
    <!--          <div class="modal-header">-->
    <!--            <h5 class="modal-title">Cuidado</h5>-->
    <!--            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
    <!--          </div>-->
    <!--          <div class="modal-body">-->
    <!--            <p>Seguro que desea eliminar el propietario con el nombre {{ownerFirstName}} {{ownerLastName}}?</p>-->
    <!--          </div>-->
    <!--          <div class="modal-footer">-->
    <!--            <button type="button" class="btn btn-danger" (click)="deleteOwner()">Eliminar</button>-->
    <!--            <button type="button" class="btn btn-primary"data-bs-dismiss="modal" (click)="cleanOwnerId()">Cancelar</button>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
