<div class="container">

    <h1 class="text-color mt-4">Bienvenido al Consorcio del Barrio Privado</h1>

    <p>En nuestro consorcio, trabajamos para garantizar la mejor experiencia de vida para nuestros residentes. Gestionamos de manera eficiente los servicios, la seguridad y el mantenimiento de las instalaciones para brindarles un entorno seguro y cómodo.</p>

    <hr />

    <h2 class="mt-4">Servicios que ofrecemos</h2>
    <div class="bg-orange p-2 m-2 rounded text-white">
        <div>
            <h3>Gestión de Autorizaciones</h3>
            <p>Administra fácilmente tus autorizaciones de ingreso desde cualquier lugar.</p>
        </div>
        <div>
          <h3>Gestión de Autorizaciones</h3>
          <p>Administra fácilmente tus autorizaciones de ingreso desde cualquier lugar.</p>
        </div>
        <div>
            <h3>Espacios comunes</h3>
            <p>Disfruta de áreas recreativas, piscinas y zonas verdes mantenidas al más alto nivel.</p>
        </div>
    </div>


</div>
