<div class="container mt-4">
    <h2>Lista de Visitantes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (visitor of visitors; track $index) {
                <tr>
                    <td>{{ visitor.name }}</td>
                    <td>{{ visitor.lastName }}</td>
                    <td>{{ visitor.docNumber }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm" routerLink="/visitor/edit/{{visitor.visitorId}}">Editar</a>
                        <button class="btn btn-danger btn-sm" (click)="deleteVisitor(visitor.visitorId)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a routerLink="/visitor/add" class="btn btn-success">Agregar Visitante</a>
</div>