<h1 class="mt-2 p-2">Nueva entidad</h1>
<form [formGroup]="entityForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">

  <!-- Nombre -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="first_name" class="form-label m-0">Nombre</label>
      <input type="text" id="first_name" class="form-control ms-3" formControlName="first_name" />
    </div>
    <div>
      <small class="text-danger ms-2" *ngIf="entityForm.get('first_name')?.invalid && entityForm.get('first_name')?.touched">
        Requerido
      </small>
    </div>
  </div>

  <!-- Apellido -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="last_name" class="form-label m-0">Apellido</label>
      <input type="text" id="last_name" class="form-control ms-3" formControlName="last_name" />
    </div>
    <div>
      <small class="text-danger ms-2" *ngIf="entityForm.get('last_name')?.invalid && entityForm.get('last_name')?.touched">
        Requerido
      </small>
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="doc-type" class="form-label m-0">Tipo Documento</label>
      <select id="doc-type" class="form-select ms-2" formControlName="doc_type">
        <option value="DNI">DNI</option>
        <option value="Passport">Pasaporte</option>
        <option value="Cédula">Cédula</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="doc-number" class="form-label m-0">Número Documento</label>
      <input type="number" id="doc-number" class="form-control ms-2" formControlName="doc_number"/>
    </div>
    <div>
      <small class="text-danger ms-2"
             *ngIf="entityForm.get('doc_number')?.invalid && entityForm.get('doc_number')?.touched">
        Requerido
      </small>
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="birth-date" class="form-label m-0">Fecha de Nacimiento</label>
      <input type="date" id="birth-date" class="form-control ms-2" formControlName="birth_date"/>
    </div>
    <div>
      <small class="text-danger ms-2"
             *ngIf="entityForm.get('birth_date')?.invalid && entityForm.get('birth_date')?.touched">
        Requerido
      </small>
    </div>
  </div>

  <!-- Comentarios -->
  <div class="col-md-12 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="comments" class="form-label m-0">Comentarios</label>
      <textarea id="comments" class="form-control ms-3" formControlName="comments"></textarea>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end mt-5">
    <button type="button" class="btn btn-danger me-2" (click)="onCancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
