<h1 class="mt-2 p-2">Nueva Autorización</h1>
<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">
  <!-- Terreno -->
  <div class="col-md-6">
    <div class="d-flex align-items-center flex-row">
      <label for="plot-id" class="form-label m-0">Número de lote<label class="text-danger">*</label></label>
      <input list="plots" id="plot-id" class="form-control ms-2" formControlName="plot_id"
             [ngClass]="{
        'is-invalid': authForm.get('plot_id')?.invalid && authForm.get('plot_id')?.touched
      }" (change)="setPlot(authForm.get('plot_id')?.value)"/>
      <datalist id="plots">
        @for (plot of plots; track $index){
          <option value="{{plot.id}}">{{plot.id}} - {{plot.desc}}</option>
        }
      </datalist>
    </div>
    <div class="ms-5">
      @if (plot != null){
        <small class="ms-5 ps-2">Telefono: {{plot.tel}}</small>
      }
      <small class="text-danger ms-5 ps-2" *ngIf="authForm.get('plot_id')?.invalid && authForm.get('plot_id')?.touched">
          Por favor, ingrese un número de lote
      </small>
    </div>
  </div>

  <!-- Visitante -->
  <div class="col-md-6">
    <div class="d-flex align-items-center flex-row">
      <label for="visitor-type" class="form-label m-0">Tipo de Visitante</label>
      <select id="visitor-type" class="form-select ms-2" formControlName="visitor_type">
        <option value="VISITOR">Visitante</option>
        <option value="PROVIDER_ORGANIZATION">Organización Proveedora</option>
        <option value="CONSTRUCTION">Obra</option>
        <option value="PROVIDER">Proveedor</option>
        <option value="WORKER">Trabajador</option>
        <option value="OWNER">Dueño</option>
      </select>
    </div>
    <div>
      <small class="text-danger ms-2"
             *ngIf="authForm.get('visitor_type')?.invalid && authForm.get('visitor_type')?.touched">
        requerido
      </small>
    </div>
  </div>

  <div formGroupName="visitor_request" class="row">
    <h5 class="mt-3 p-2">Detalles del Visitante</h5>
    <div class="col-md-6 mt-3">
      <div class="d-flex align-items-center flex-row">
        <label for="name" class="form-label m-0">Nombre</label><label class="text-danger">*</label>
        <input type="text" id="name" class="form-control ms-4" formControlName="name"
               [ngClass]="{
        'is-invalid': authForm.get('visitor_request.name')?.invalid && authForm.get('visitor_request.name')?.touched
      }"/>
      </div>
      <div class="ms-5">
        <small class="text-danger ms-5 ps-1"
               *ngIf="authForm.get('visitor_request.name')?.invalid && authForm.get('visitor_request.name')?.touched">
            Por favor, ingrese el nombre del visitante
        </small>
      </div>
    </div>

    <div class="col-md-6 mt-3">

      <div class="d-flex align-items-center flex-row">
        <label for="last-name" class="form-label m-0">Apellido</label><label class="text-danger">*</label>
        <input type="text" id="last-name" class="form-control ms-4" formControlName="last_name"
               [ngClass]="{
        'is-invalid': authForm.get('visitor_request.last_name')?.invalid && authForm.get('visitor_request.last_name')?.touched
      }"/>
      </div>
      <div class="ms-5">
        <small class="text-danger ms-5 ps-1"
               *ngIf="authForm.get('visitor_request.last_name')?.invalid && authForm.get('visitor_request.last_name')?.touched">
            Por favor, ingrese el apellido del visitante
        </small>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="d-flex align-items-center flex-row">
        <label for="doc-type" class="form-label m-0">Tipo de Documento<label class="text-danger">*</label></label>
        <select id="doc-type" class="form-select ms-2" formControlName="doc_type">
          <option value="DNI">DNI</option>
          <option value="PASSPORT">Pasaporte</option>
          <option value="CUIL">CUIL</option>
          <option value="CUIT">CUIT</option>
        </select>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="d-flex align-items-center flex-row">
        <label for="doc-number" class="form-label m-0">Número de Documento<label class="text-danger">*</label></label>
        <input type="number" id="doc-number" class="form-control ms-2" formControlName="doc_number"
               [ngClass]="{
        'is-invalid': authForm.get('visitor_request')!.get('doc_number')?.invalid && authForm.get('visitor_request')!.get('doc_number')?.touched
      }"/>
      </div>
      <div class="ms-5">
        <small class="text-danger ms-5 ps-5"
               *ngIf="authForm.get('visitor_request.doc_number')?.invalid && authForm.get('visitor_request.doc_number')?.touched">
            Por favor, ingrese el número de documento del visitante
        </small>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="d-flex align-items-center flex-row">
        <label for="birth-date" class="form-label m-0">Fecha de Nacimiento<label class="text-danger">*</label></label>
        <input type="date" id="birth-date" class="form-control ms-1" formControlName="birth_date"
               [ngClass]="{
        'is-invalid': authForm.get('visitor_request.birth_date')?.invalid && authForm.get('visitor_request.birth_date')?.touched
      }"/>
      </div>
      <div class="ms-5">
        <small class="text-danger ms-5 ps-4"
               *ngIf="authForm.get('visitor_request.birth_date')?.invalid && authForm.get('visitor_request.birth_date')?.touched">
            Por favor, ingrese la fecha de nacimiento del visitante
        </small>
      </div>
    </div>
    @if (this.userType != "GUARD"){

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label class="form-label m-0">Lista de horarios</label>
      <button type="button" class="btn btn-info ms-4" (click)="openModal()"> Horarios</button>
    </div>
  </div>
    }
  </div>

  <div class="col-12 d-flex justify-content-end mt-5">
    <button type="button" class="btn btn-danger me-2" (click)="onCancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
